@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-inter;
  @apply text-white;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.gradient-background {
  background: radial-gradient(
    231% 135.8% at 0.9% 2.98%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  backdrop-filter: blur(21px);
}

.white-glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.inner-glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.input-bg-startup {
  border-radius: 1.25rem;
  border: none;
  background: radial-gradient(
    231% 135.8% at 0.9% 2.98%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  backdrop-filter: blur(21px);
}

.investor-button {
  border-radius: 0.9375rem;
  border: 1px solid rgba(216, 216, 216, 0);
  background: linear-gradient(
      182deg,
      rgba(129, 138, 26, 0.8) 1.89%,
      rgba(69, 72, 35, 0.8) 98.11%
    ),
    radial-gradient(
      231% 135.8% at 0.9% 2.98%,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 100%
    );
  backdrop-filter: blur(21px);
}

.company-button {
  border-radius: 0.9375rem;
  border: 1px solid rgba(216, 216, 216, 0);
  background: radial-gradient(
    231% 135.8% at 0.9% 2.98%,
    #1a838a 0%,
    #234448 100%
  );
  backdrop-filter: blur(21px);
}
